@import 'var';
body,h1,h2,h3,h4,h5,h6,ul,li,p{margin: 0;padding:0}
a{text-decoration:none;}
ul{list-style:none;}

//header
//
header{
	width: 100%;
	font-size:12px;
	.nav{
		background-color: #f2f2f2;
		border-bottom: 1px solid #ccc;
		line-height: 26px;
		height: 26px;
		padding: 0 30px;
		display:flex;
		a{color:$fcolor;
			&:hover{color:$hcolor;}
		}
		.nav_left{
			width: 45%;
			display:flex;
			.collect{
				display:flex;
				span{margin: 6px;}
				a{margin-right: 20px}
				
			}
			.welcome{
				margin-left: 6px
			}
		}
		.nav_right{
			width: 55%;
			display:flex;
			span{
				padding: 0 10px;

				&:nth-child(2){
					i{margin-left: 5px;}
					
					&:hover{background-color: #FFF;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;}
				}

				&:nth-child(3){
					position: relative;
					height: 14px;
					
					a{margin-top: 0;}
					i{margin-left: 5px;}
				}
				&:nth-child(4){
					display:flex;
					margin-left: -10px;
					i{margin-right: 5px; margin-top: 5px;}

				}
				&:nth-child(5){
					display:flex;
					border-left: 1px solid #ccc;
					i{margin-right: 5px; margin-top: 5px;}
				}
				&:last-child{
					display:flex;
					a{color:$hcolor;}
					i{margin-right: 5px; margin-top: 5px;}
				}
			}
		}
	}
}


//top
.icon{background:url(../img/img.png)  no-repeat; display:inline-block;}
.icon_xiajiantou{height:4px;width:7px;background-position:0 0;}
.icon_phone{height:16px;width:11px;background-position:0 -4px;}
.icon_all{height:12px;width:14px;background-position:0 -20px;}
.icon_wujiao{height:15px;width:16px;background-position:0 -32px;}
.icon_car{height:16px;width:16px;background-position:0 -47px;}
.icon_qq{height:16px;width:16px;background-position:0 -63px;}
.icon_search{height:18px;width:18px;background-position:0 -79px;}

//aside
.aside{background:url(../img/aside.png)  no-repeat;display:block;}
.aside_qq{height:34px;width:29px;background-position:0 0;}
.aside_totop{height:28px;width:29px;background-position:0 -34px;}
.aside_yanguang{height:32px;width:32px;background-position:0 -62px;}
.aside_wechat{height:32px;width:32px;background-position:0 -94px;}
.aside_erweima{height:32px;width:32px;background-position:0 -126px;}
