@import 'var';
body,h1,h2,h3,h4,h5,h6,ul,li,p{margin: 0;padding:0}
a{text-decoration:none;}
i{font-style:normal;}
ul{list-style:none;}
body{background-color: #FFF}
	.border{
		border:1px solid #6d9d03;
		border-right: 0;
		border-top: 0;
		
	}
	.bdr{
		border-right: 1px solid #6d9d03;
	}
//header
//
header{
	width: 100%;
	font-size:12px;
	.nav{
		background-color: #f2f2f2;
		border-bottom: 1px solid #ccc;
		line-height: 26px;
		height: 26px;
		padding: 0 30px;
		display:flex;
		a{
			color:$fcolor;
			&:hover{color:$hcolor;}
		}
		.nav_left{
			width: 45%;
			display:flex;
			.collect{
				display:flex;
				span{margin: 6px;}
				a{margin-right: 20px}
				
			}
			.welcome{
				margin-left: 6px
			}
		}
		.nav_right{
			width: 55%;
			display:flex;
			span{
				z-index: 10000;
				padding: 0 6px;
				text-align:center;
				&:nth-child(2){
					i{margin-left: 5px;}
					position: relative;
					border-left: 1px solid #f2f2f2;
					border-right: 1px solid #f2f2f2;
					&:hover{
						background-color: #FFF;
						border-left: 1px solid #ccc;
						border-right: 1px solid #ccc;
						border-bottom: 1px solid #e5e5e5;
					}
					&:hover ul{
						display:block;
					}
					ul{
						position: absolute;
						left: -1px;top: 25px;
						box-sizing:border-box;
						display:none;
						width: 74px;
						background-color: #FFF;
						border: 1px solid #e5e5e5;
						text-align:center;
						a{&:hover{text-decoration:underline}}
					}
				}

				&:nth-child(3){
					position: relative;
					i{margin-left: 5px;}
					border-left: 1px solid #f2f2f2;
					border-right: 1px solid #f2f2f2;
					&:hover{background-color: #FFF;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;}
					&:hover ul{
						display:block;
					}
					ul{
						position: absolute;
						left: -1px;top: 25px;
						box-sizing:border-box;
						display:none;
						width: 74px;
						background-color: #FFF;
						border: 1px solid #e5e5e5;
						text-align:center;
						a{&:hover{text-decoration:underline}}
					}
				}
				&:nth-child(4){
					display:flex;
					margin-left: -10px;
					color:#e5e5e5;
					i{margin-right: 5px; margin-top: 5px;margin-left: 5px;}

				}
				&:nth-child(5){
					display:flex;
					border-left: 1px solid #ccc;
					i{margin-right: 5px; margin-top: 5px;}
				}
				&:last-child{
					display:flex;
					a{color:$hcolor;}
					i{margin-right: 5px; margin-top: 5px;}
				}
			}
		}
	}
}


//top
.icon{background:url(../img/img.png)  no-repeat; display:inline-block;}
.icon_xiajiantou{height:4px;width:7px;background-position:0 0;}
.icon_phone{height:16px;width:11px;background-position:0 -4px;}
.icon_all{height:12px;width:14px;background-position:0 -20px;}
.icon_wujiao{height:15px;width:16px;background-position:0 -32px;}
.icon_car{height:16px;width:16px;background-position:0 -47px;}
.icon_qq{height:16px;width:16px;background-position:0 -63px;}
.icon_search{height:18px;width:18px;background-position:0 -79px;}

//aside
.aside{background:url(../img/aside.png)  no-repeat;display:block;}
.aside_qq{height:34px;width:29px;background-position:0 0;}
.aside_totop{height:28px;width:29px;background-position:0 -34px;}
.aside_yanguang{height:32px;width:32px;background-position:0 -62px;}
.aside_wechat{height:32px;width:32px;background-position:0 -94px;}
.aside_erweima{height:32px;width:32px;background-position:0 -126px;}

//prev&nextbtn
.prev_nextbtn{background: url('../img/next&prevbtn.png') no-repeat;}
.prev{height:47px;width: 21px;background-position: 0 0;}
.next{height:47px;width: 21px;background-position: -738px 0;}

//.index_goodlist
.goodlist{background:url(../img/goodlist.png)  no-repeat; display:inline-block;}
.goodlist_goodlist1{height:20px;width:15px;background-position:0 0;}
.goodlist_goodlist3{height:21px;width:16px;background-position:0 -20px;}
.goodlist_goodlist2{height:19px;width:18px;background-position:0 -41px;}
.goodlist_goodlist6{height:11px;width:22px;background-position:0 -60px;}
.goodlist_goodlist7{height:17px;width:22px;background-position:0 -71px;}
.goodlist_goodlist4{height:16px;width:22px;background-position:0 -88px;}
.goodlist_goodlist5{height:16px;width:22px;background-position:0 -104px;}

//hot
.hot{background:url(../img/hot.png)  no-repeat;display: inline-block;}
.huli_jiantou{height:15px;width:19px;background-position:0 0;}
.hot_huise{height:34px;width:30px;background-position:0 -15px;}
.hot_shenlv{height:36px;width:31px;background-position:0 -49px;}
.hot_tuhuang{height:36px;width:31px;background-position:0 -85px;}
.hot_hongse{height:36px;width:31px;background-position:0 -121px;}
.hot_chengse{height:36px;width:31px;background-position:0 -157px;}
.hot_qianlv{height:36px;width:32px;background-position:0 -193px;}

.details_ic{background:url(../img/details_ic.png)  no-repeat;display: inline-block;}
.details_ic_1{height:20px;width:17px;background-position:0 0;}
.details_ic_2{height:18px;width:19px;background-position:0 -20px;}
.details_ic_4{height:20px;width:20px;background-position:0 -38px;}
.details_ic_3{height:20px;width:20px;background-position:0 -58px;}
