@import 'var';


body{
	.bigbox{
		width: 400px;
		height: 400px;
		border: 1px solid #ccc;
		position: absolute;
		left: 0;top: 0;
		overflow: hidden;
		img{width: 1200px;height: 1200px;position: absolute;left: 0;top: 0;}
	}
	main{
		font-size:12px;
		
		color:$fcolor;
		&>nav{
			// width: 100%;
			height: 38px;
			padding: 0 30px;
			background-color: $bgc;
			line-height: 38px;
			display:flex;
			color:#fff;
			.goodslists{
				width: 216px;
				text-align:center;
				background-color: #6d9d03;
				&>i{margin-left: 15px;}
				position: relative;
				z-index: 10000;
				ul{
					color:#666;
					a{color:$fcolor;}
					background-color: #FFF;
					
					&>li{
						padding: 0 10px;
						line-height: 45px;
						&:last-child{
							height: 44px;
						}
						&:hover h3{border-bottom: 0}
						&>h3{
							padding: 0 20px;
							border-bottom: 1px dashed #ccc;
							font-size:16px;
							height: 45px;

							a{	
								font-size:12px;
								display:inline-block;
								height: 45px;
								width: 100%;
								span{margin-right: 10px;}
								i{float: right;}
							}
						}
						
						.content{
							z-index: 10000;
							position: absolute;
							// left: 216px;
							width: 730px;
							height: 320px;
							display:flex;
							background-color: #FFF;
							border-bottom: 1px solid #6d9d03;
							border-right: 1px solid #6d9d03;
							&>ul{
								border-right: 1px solid #ccc;
								// width: 70%;
								flex:7;
								&>li{
									padding: 8px 0;
									// text-align:left;
									display:flex;
									span{
										margin-left: 20px;
									}
									.link{
										margin-left: 10px;
										flex:8;
										display:flex;
										line-height: 12px;
										flex-wrap:wrap;
										border-bottom: 1px dashed #ccc;
										padding-bottom: 10px;
										a{
											margin-top: 5px;
											display: inline-block;
											padding: 0 5px;
											border-left: 1px solid #ccc;
										}
									}
								}
								
							}
							.pic{
								// width: 30%;
								flex:3;
								z-index: 1000;
							}
							

						}
						
					}
				}
			}
			&>ul{
				flex:1;
				display:flex;
				li{
					width:11%;
					text-align:center;
					&:hover{

						background-color: #77b001;
					}
					a{color:#fff;}
				}
			}
		}
		section{
			padding: 0 30px;
			.buy_goods{
				display: flex;
				.zoomimg{
					margin-right: 40px;
					.img{
						width: 400px;
						height: 400px;
						border: 1px solid #ccc;
						text-align:center;
						position: relative;
						.zoom{width: 30px;height: 30px;background: #F60;opacity:0.5;position: absolute;left: 0;top: 0;}
						img{position: absolute;left: 0;top: 0;display: none;}
						
					}
					.imglist{
						margin-top: 20px;
						height: 70px;
						width: 400px;
						display: flex;
						line-height: 70px;
						cursor:pointer;
						font-size:20px;
						font-weight:700;
						color:#ddd;
						.list{

							width: 370px;
							overflow: hidden;
							position: relative;
							ul{
								position: absolute;
								left: 0;top: 0;
								display: flex;
								li{
									width: 66px;
									height: 66px;
									border: 1px solid #ccc;
									margin-right: 5px;
									padding: 1px;
									&:last-child{
										margin-right: 0;
									}
									img{
										width: 66px;
										display: block;
									}
								}
								.imgborder{
									padding: 0;
									border: 2px solid #93c525;
								}
							}
						}
						.prev_left{
							width: 15px;
							text-align:center;
							&:hover{color:#000;}
						}
						.next_right{
							width: 15px;
							text-align:center;
							&:hover{color:#000;}
						}
					}
				}
				.control{
					width: 621px;
					h3{font-size:16px;color:#000;}
					&>p{
						color:#f00;
						font-size:14px;
						line-height: 20px;
						padding-bottom: 15px;
						border-bottom: 1px dotted #ccc;
					}
					.discount{
						border-bottom: 1px dotted #ccc;
						padding: 10px;
						.price{
							position: relative;
							display: flex;
							height: 28px;
							line-height: 28px;
							i{
								
								&:nth-child(2){
									color:#f90;
									font-size:20px;
									margin-right: 150px;
								}
								&:nth-child(5){
									text-decoration:line-through;
									margin-right: 100px;
								}
							}
							.tips{
								position: absolute;
								left: 125px;
								top: -10px;
								b{
									text-align:center;
									font-size:10px;
									display: inline-block;
									line-height: 20px;
									background-color: #f90;
									padding: 0 5px;
									border-radius:25px 0 0 0;
								}
							}
							
							span{
								&:nth-child(5){
									background-color: #ccc;
									margin-right: 5px;
								}
							}
						}
						.cuxiao{
							width: 621px;
							display: flex;
							margin-top: 20px;
							&>span{display: block;}
							.cuxiaoinfor{
								p{
									height: 28px;
									span{color:#f90;}
								}
								.bgspan{
									color:#fff;
									display: inline-block;
									width: 34px;
									height: 18px;
									background-color: #f90;
									text-align:center;
									line-height: 18px;
									margin-right: 10px;
								}
								
							}
						}
						.num{
							height: 24px;
							line-height: 24px;
							span{margin-right: 15px;}
							i{margin-right: 50px;color:#333}
						}
					}
					.buyselect{

						.number{
							padding-top: 5px;
							line-height: 24px;
							height: 65px;
							i{
								display: inline-block;
								width: 24px;
								height: 24px;
								background-color: #eee;
								border: 1px solid #ccc;
								line-height: 24px;
								text-align:center;
								cursor:pointer;
							}
							input{height: 20px;width: 32px;margin: 0 3px;}
						}
						p{
							height: 50px;
							.buy{
								cursor:pointer;
								color:#fff;
								font-size:16px;
								display: inline-block;
								width: 150px;
								height: 32px;
								text-align:center;
								line-height: 32px;
								background-color: #f60;
								border: 1px solid #f60;
								border-radius:3px;
								margin-left: 70px;
							}
							.addcar{
								cursor:pointer;
								display: inline-block;
								font-size:16px;
								width: 150px;
								height: 32px;
								text-align:center;
								line-height: 32px;
								border: 1px solid #f60;
								border-radius:3px;
								color:#f60;
								i{margin-right: 8px;margin-top: 3px;}
							}
						}
					}
					.service{
						display: flex;
						.service_text{
							display: flex;
							line-height: 20px;
							margin-right: 15px;
							i{margin-right: 5px;}
						}
					}
				}
				.erweima{
					margin-left: 10px;
					img{
						width: 115px;
					}
					p{
						text-align:center;
					}
				}
			}
			
		}
		&>aside{
			position: fixed;
			right: -30px;
			bottom:60px;
			border: 1px solid #ccc;
			ul{
				padding: 5px;
				background-color: #FFF;
				li{	
					text-align:center;
					padding: 10px 5px;
					border-bottom: 1px solid #f00;
					a{margin-left: 15px;}
					span{
						font-size:12px;
					}
				}
			}
			
		}
	}
}