@import 'var';

main{
	font-size:12px;
	
	color:$fcolor;
	&>nav{
		// width: 100%;
		height: 38px;
		padding: 0 30px;
		background-color: $bgc;
		line-height: 38px;
		display:flex;
		color:#fff;
		.goodslists{
			width: 216px;
			text-align:center;
			background-color: #6d9d03;
			&>i{margin-left: 15px;}
			position: relative;
			z-index: 10000;
			ul{
				color:#666;
				a{color:$fcolor;}
				background-color: #FFF;
				
				&>li{
					padding: 0 10px;
					line-height: 45px;
					&:last-child{
						height: 44px;
					}
					&:hover h3{border-bottom: 0}
					&>h3{
						padding: 0 20px;
						border-bottom: 1px dashed #ccc;
						font-size:16px;
						height: 45px;

						a{	
							font-size:12px;
							display:inline-block;
							height: 45px;
							width: 100%;
							span{margin-right: 10px;}
							i{float: right;}
						}
					}
					
					.content{
						z-index: 10000;
						position: absolute;
						// left: 216px;
						width: 730px;
						height: 320px;
						display:flex;
						background-color: #FFF;
						border-bottom: 1px solid #6d9d03;
						border-right: 1px solid #6d9d03;
						&>ul{
							border-right: 1px solid #ccc;
							// width: 70%;
							flex:7;
							&>li{
								padding: 8px 0;
								// text-align:left;
								display:flex;
								span{
									margin-left: 20px;
								}
								.link{
									margin-left: 10px;
									flex:8;
									display:flex;
									line-height: 12px;
									flex-wrap:wrap;
									border-bottom: 1px dashed #ccc;
									padding-bottom: 10px;
									a{
										margin-top: 5px;
										display: inline-block;
										padding: 0 5px;
										border-left: 1px solid #ccc;
									}
								}
							}
							
						}
						.pic{
							// width: 30%;
							flex:3;
							z-index: 1000;
						}
						

					}
					
				}
			}
		}
		&>ul{
			flex:1;
			display:flex;
			li{
				width:11%;
				text-align:center;
				&:nth-child(4){background-color: #77b001;}
				&:hover{

					background-color: #77b001;
				}
				a{color:#fff;}
			}
		}
	}
	section{
		.nowpos{
			padding: 15px 30px;
			a{
				color:$fcolor;
				&:hover{color:$hcolor}
			}
		}
		.goodlists{
			ul{
				margin-left: 260px;
				display: flex;
				flex-wrap:wrap;
				li{
					background-color: #FFF;
					position: relative;
					margin: 20px 20px 0 4px;
					width: 218px;
					border: 1px solid #ccc;
					border-bottom: 0;
					height: 350px;
					z-index: 1;
					a{
						cursor:pointer;
						color:$fcolor;
						&:hover{color:$hcolor;}
					}
					&:hover{
						height:382px;
						z-index: 10;
						margin:19px 19px -35px 3px;
						border-width:2px;
						border-bottom: 2px solid #ccc;
					}
					&:hover .collect{
						display: block;
					}
					p{
						&:nth-child(2){
							color:#f90;
							font-size:26px;
							margin: 0 5px;
							
							i{font-size:12px;}
						}
						&:nth-child(4){
							font-size:12px;
							color:#333;
							margin: 0 4px;
							line-height: 30px;
							border-bottom: 1px solid #ccc;
						}
						&:nth-child(5){
							margin: 0;
							font-size:12px;
							display: flex;
							height: 34px;
							line-height: 34px;
							padding-left: 4px;
							border-bottom: 1px solid #ccc;
							i{
								display: inline-block;
								width: 84px;
								height: 15px;
								margin-top: 8px;
								margin-right: 3px;
							}
						}
					}
					&>a{
						display: block;
						font-size:12px;
						line-height: 16px;
						text-align:left;
						&:nth-child(3){
							height: 32px;
							padding: 0 4px;
							
						}
					}
					.collect{
						display: none;
						position: absolute;
						width: 213px;
						height: 27px;
						bottom:0;left: 0;
						padding: 3px 0 0 5px;
						span{
							display: inline-block;
							text-align:center;
							line-height: 20px;
							height: 20px;
							border: 1px solid #ff6600;
							border-radius:3px;
							cursor:pointer;
							&:first-child{
								color:#fff;
								width: 100px;
								background-color: #ff6600;
								margin-right: 30px;
								i{	
									margin-left: 5px;
									width: 18px;
									height: 18px;
									display: inline-block;
									background: url('../img/whitecar.png') no-repeat;
									float: left;
								}
							}

							&:last-child{
								width: 70px;
								color:#ff6600;
								i{	
									margin-left: 10px;
									margin-top: 5px;
									width: 14px;
									height: 13px;
									display: inline-block;
									background: url('../img/kongxin.png') no-repeat;
									float: left;
								}
							}
						}
						
					}
					
				}
			}
		}
		
	}
	&>aside{
		position: fixed;
		right: -30px;
		bottom:60px;
		border: 1px solid #ccc;
		ul{
			padding: 5px;
			background-color: #FFF;
			li{	
				text-align:center;
				padding: 10px 5px;
				border-bottom: 1px solid #f00;
				a{margin-left: 15px;}
				span{
					font-size:12px;
				}
			}
		}
		
	}
}