@import 'var';

nav{
	// width: 100%;
	font-size:12px;
	.second{
		padding: 30px 30px;
		display:flex;
		
		color:$fcolor;
		.logo{
			flex:3;
			a{margin-left: 20px;display: block;width: 196px;height: 56px;background: url('../img/index_logo.gif')}
		}
		.baozhang{
			flex:2;
			ul{
				li{
					float: left;
					text-align:center;
					padding: 0 10px;
					span{display:block;}
					border-right: 1px dashed #ccc;
					&:last-child{
						border-right:0; 	
					}
				}
				
			}
			
		}
		.sec_right{
			flex:2;
			.search{
				border: 2px solid $bgc;
				height: 30px;
				position: relative;
				display:flex;


				span{position: absolute;top: 5px;left: 3px;flex:1;}
				input{
					margin: 3px 0;
					flex:8;
					border: 0;
					margin-left: 24px;
					border-left: 1px solid #ddd;
					&:focus{
						outline:none;
					}
				}
				button{flex:2;height: 100%;background-color: #90c31f;border: 0;color:#fff;font-size:14px;font-weight:600;}
			}
			.hotsearch{
				a{
					color:$fcolor;
					&:hover{color:$hcolor;}
				}
				line-height: 26px;
			}
			
		}
	}
}
main{
	width: 100%;
	font-size:14px;
	&>nav{
		padding: 0 30px;
		height: 38px;
		background-color: $bgc;
		line-height: 38px;
		display:flex;
		.goodslists{
			width: 216px;
			text-align:center;
			background-color: #6d9d03;
			color:#fff;
			i{margin-left: 15px;}
		}
		ul{
			flex:8.2;
			display:flex;
			li{
				width:11%;
				text-align:center;
				&:first-child{background-color: #77b001;}
				&:hover{
					background-color: #77b001;
				}
				a{color:#fff;}
			}
		}
	}
	&>section{
		padding: 0 30px;
		display:flex;
		height: 320px;
		aside{
			width: 216px;
			background-color: #FFF;
			a{font-size:12px;color:$fcolor;}

			&>ul{
				position: relative;
				&>li{
					&:last-child{h3{border-bottom: 0;}}
					padding: 0 10px;
					line-height: 45px;
					&:last-child{
						height: 44px;
					}
					&>h3{
						padding: 0 20px;
						border-bottom: 1px dashed #ccc;
						font-size:16px;
						height: 45px;
						a{
							font-size:12px;
							display:inline-block;
							height: 45px;
							width: 100%;
							span{margin-right: 10px;}
							i{float: right;}
						}
					}
					
					.content{
						position: absolute;
						left: 216px;
						top: 0;
						z-index: 1000;
						padding-left: 30px;
						width: 730px;
						height: 320px;
						display:flex;
						background-color: #FFF;
						border-bottom: 1px solid #6d9d03;
						border-right: 1px solid #6d9d03;
						&>ul{
							flex:6.5;
							&>li{
								text-align:left;
								display:flex;
								padding: 8px 0;
								border-bottom: 1px dashed #ccc;
								.link{
									text-align:left;
									flex:8;
									margin-left: 10px;
									display:flex;
									flex-wrap:wrap;
									line-height: 12px;
									a{margin-top: 5px;display: inline-block;padding: 0 5px;border-left: 1px solid #ccc;height: 12px}
								}
							}
							
						}
						.pic{flex:3.5;}
						

					}
					
				}
			}

		}
		.banner{
			width: 760px;
			overflow: hidden;
			position: relative;
			ul{
				width: 4560px;
				height: 320px;
				position: relative;
				left: 0;
				top: 0;
				li{	
					display:inline-block;
					float: left;
				}
			}
			.prev_nextbtn{display:none;}
			.prev{position:absolute; left: 0;top: 50%;margin-top: -23px;}
			.next{position:absolute; right: 0;top: 50%;margin-top: -23px;}
			.page{
				position: absolute;
				margin-left: -80px;
				bottom: 20px;
				left: 50%;
				span{margin-right:20px;
					border: 1px solid #ccc;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					text-align:center;
					line-height: 20px;
					background-color: #666;
					display:inline-block;
					cursor:pointer;
					&.active{background-color: #90c31f}
				}

			}
			
		}
		.download{
			flex:1;
			img{border: 1px solid #fff};
		}
	}
	&>aside{
		position: fixed;
		right: -30px;
		bottom:60px;
		border: 1px solid #ccc;
		ul{
			padding: 5px;
			background-color: #FFF;
			li{	
				text-align:center;
				padding: 10px 5px;
				border-bottom: 1px solid #f00;
				a{margin-left: 15px;}
				span{
					font-size:12px;
				}
			}
		}
		
		
	}
}
footer{
	background-color: rgb(240, 240, 240);
	text-align:center;
	padding: 10px 50px 30px;
	border-top: 1px solid #ddd;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15) inset;
	color:$fcolor;
	a{
		color:#999;
		&:hover{color:$hcolor;}
	}
	font-size:12px;
	.Fx-01{
		img{border-bottom: 1px solid #fff};
	}
	.Fx-02{
		padding: 0 100px;
		&>ul{
			border-bottom: 1px solid #ddd;
			padding: 30px 0;
			display:flex;
			&>li{
				margin-left: 80px;
				h3{
					font-size:16px;
					line-height: 50px;
				}
				ul{
					li{line-height: 24px;}
				}
			}
		}
	}
	.Fx-03{
		padding-top: 20px;
		border-top: 1px solid #fff;
		p{
			line-height: 20px;
		}
		a{line-height: 20px;}
	}
	.Fx-04{margin-top: 15px;}
}