@import 'var';

nav{
	width: 100%;
	font-size:12px;
	.second{
		padding: 30px 30px;
		display:flex;
		
		color:$fcolor;
		.logo{
			flex:3;
			a{margin-left: 20px;display: block;width: 196px;height: 56px;background: url('../img/index_logo.gif')}
		}
		.baozhang{
			flex:2;
			ul{
				li{
					float: left;
					text-align:center;
					padding: 0 10px;
					span{display:block;}
					border-right: 1px dashed #ccc;
					&:last-child{
						border-right:0; 	
					}
				}
				
			}
			
		}
		.sec_right{
			flex:2;
			.search{
				border: 2px solid $bgc;
				height: 30px;
				position: relative;
				display:flex;


				span{position: absolute;top: 5px;left: 3px;flex:1;}
				input{
					margin: 3px 0;
					flex:8;
					border: 0;
					margin-left: 24px;
					border-left: 1px solid #ddd;
					&:focus{
						outline:none;
					}
				}
				button{flex:2;height: 100%;background-color: #90c31f;border: 0;color:#fff;font-size:14px;font-weight:600;}
			}
			.hot{
				a{
					color:$fcolor;
					&:hover{color:$hcolor;}
				}
				line-height: 26px;
			}
			
		}
	}
}
main{
	width: 100%;
	font-size:14px;
	&>nav{
		padding: 0 30px;
		height: 38px;
		background-color: $bgc;
		line-height: 38px;
		display:flex;
		.goodslist{
			width: 216px;
			text-align:center;
			background-color: #6d9d03;
			color:#fff;
			i{margin-left: 15px;}
		}
		ul{
			flex:8.2;
			display:flex;
			li{
				width:11%;
				text-align:center;
				&:first-child{background-color: #77b001;}
				&:hover{
					background-color: #77b001
				}
				a{color:#fff;}
			}
		}
	}
	&>section{
		padding: 0 30px;
		display:flex;
		height: 320px;
		aside{
			width: 216px;
			ul{
				padding: 0 10px;
				li{
					line-height: 45px;text-align:center;border-bottom: 1px dashed #ccc;
					span{float: right;margin-right: 20px}
				}
			}
		}
		.banner{
			width: 760px;
			overflow: hidden;
			ul{
				width:3800px;
				height: 320px;
				li{	
					display:inline-block;
					float: left;
					// img{}
				}
			}
			
		}
		.download{
			flex:1;
			border: 1px solid #fff;
		}
	}
	&>aside{
		position: fixed;
		right: 0px;
		bottom:100px;
		border: 1px solid #ccc;
		ul{
			padding: 5px;
			background-color: #FFF;
			li{	
				text-align:center;
				padding: 5px;
				border-bottom: 1px solid #f00;
				a{margin-left: 15px;}
				span{
					font-size:12px;
				}
			}
		}
		
		
	}
}