@import 'var';

main{
	font-size:12px;
	
	color:$fcolor;
	&>nav{
		// width: 100%;
		height: 38px;
		padding: 0 30px;
		background-color: $bgc;
		line-height: 38px;
		display:flex;
		color:#fff;
		.goodslists{
			width: 216px;
			text-align:center;
			background-color: #6d9d03;
			&>i{margin-left: 15px;}
			position: relative;
			z-index: 10000;
			ul{
				color:#666;
				a{color:$fcolor;}
				background-color: #FFF;
				
				&>li{
					padding: 0 10px;
					line-height: 45px;
					&:last-child{
						height: 44px;
					}
					&:hover h3{border-bottom: 0}
					&>h3{
						padding: 0 20px;
						border-bottom: 1px dashed #ccc;
						font-size:16px;
						height: 45px;

						a{	
							font-size:12px;
							display:inline-block;
							height: 45px;
							width: 100%;
							span{margin-right: 10px;}
							i{float: right;}
						}
					}
					
					.content{
						z-index: 10000;
						position: absolute;
						// left: 216px;
						width: 730px;
						height: 320px;
						display:flex;
						background-color: #FFF;
						border-bottom: 1px solid #6d9d03;
						border-right: 1px solid #6d9d03;
						&>ul{
							border-right: 1px solid #ccc;
							// width: 70%;
							flex:7;
							&>li{
								padding: 8px 0;
								// text-align:left;
								display:flex;
								span{
									margin-left: 20px;
								}
								.link{
									margin-left: 10px;
									flex:8;
									display:flex;
									line-height: 12px;
									flex-wrap:wrap;
									border-bottom: 1px dashed #ccc;
									padding-bottom: 10px;
									a{
										margin-top: 5px;
										display: inline-block;
										padding: 0 5px;
										border-left: 1px solid #ccc;
									}
								}
							}
							
						}
						.pic{
							// width: 30%;
							flex:3;
							z-index: 1000;
						}
						

					}
					
				}
			}
		}
		&>ul{
			flex:1;
			display:flex;
			li{
				width:11%;
				text-align:center;
				&:nth-child(6){background-color: #77b001;}
				&:hover{

					background-color: #77b001;
				}
				a{color:#fff;}
			}
		}
	}
	.banner{
		width: 100%;
		height: 500px;
		overflow: hidden;
		display:flex;
		position: relative;
		a{
			img{display: block;position: absolute;left: -300px;top: 0;}
			&:first-child{
				img{z-index: -500;}
			}
		}
		.prev_nextbtn{display:none;}
		.prev{position:absolute; left: 5%;top: 60%;z-index: 1000}
		.next{position:absolute; right: 5%;top: 60%;z-index: 1000}
		.page{
			z-index: 1000;
			position: absolute;
			margin-left: -80px;
			bottom: 20px;
			left: 50%;
			span{margin-right:20px;
				border: 1px solid #ccc;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				text-align:center;
				line-height: 20px;
				background-color: #666;
				display:inline-block;
				cursor:pointer;
				&.active{background-color: #90c31f}
			}

		}
		
	}

	&>aside{
		position: fixed;
		right: -30px;
		bottom:60px;
		border: 1px solid #ccc;
		ul{
			padding: 5px;
			background-color: #FFF;
			li{	
				text-align:center;
				padding: 10px 5px;
				border-bottom: 1px solid #f00;
				a{margin-left: 15px;}
				span{
					font-size:12px;
				}
			}
		}
		
	}
}