@import 'var';

body{
	background-color:#F0F0F0;
	&>nav{
		margin: 50px 0 50px 200px;
		span{
			font-size:18px;
			margin-left: 30px;
		}
	}
	&>main{
		width: 990px;
		margin: 0 auto;
		color:$fcolor;
		font-size:12px;
		a{
			color:#6c9d03;font-size:12px;
			&:hover{color:$hcolor;}
		}
		.tips{
			text-align:right;
			margin-bottom: 10px;
			span{margin-left: 5px;}
		}
		.loginPage{
			background-color: #FFF;
			width: 100%;
			border: 1px solid #ccc;
			padding: 50px 0;
			overflow: hidden;
			.loginpic{
				float: right;
				img{border-left: 1px solid #ccc;}
			}
			.loginInput{
				float: left;
				padding: 0 70px;
				font-size:16px;
				color:#333;
				i{color:red;margin-right: 5px;}
				p{
					margin-bottom: 20px;
					&:first-child{margin-left: 16px;}

				}
				.same{
					height: 25px;
					width: 250px;
				}
				
					
				.slideArea{
					margin-bottom: 20px;
					display:flex;
					.slidearea{
						margin-left: 5px;
						width: 254px;
						height: 30px;
						border: 1px solid #ccc;
						position: relative;
						margin-top: -5px;
						background-color: #ddd;
						span{position: absolute;left: 10;top: 0;line-height: 30px;display:inline-block;width: 40px;height: 30px;border-right: 1px solid #ccc;background-color: #fff;text-align:center;}
					}
				}
				.Code{
					margin-left: 16px;
					display:flex;
					#code{
						height: 25px;
						width: 100px;
						margin-left: 3px;
					}
					.codeshow{display:inline-block;width: 80px;height: 30px;border: 1px solid #ccc;margin-left: 10px;}
				}
				.refer{
					background-color: #ccc;width: 250px;height: 30px;line-height: 30px;text-align:center;color:#fff;margin-left: 87px;cursor:pointer;
				}
				.agree{margin-left: 87px;margin-top: 5px;}

			}
		}
	}
}