body, h1, h2, h3, h4, h5, h6, ul, li, p { margin: 0; padding: 0; }

a { text-decoration: none; }

i { font-style: normal; }

ul { list-style: none; }

.border { border: 1px solid #6d9d03; border-right: 0; border-top: 0; }

.bdr { border-right: 1px solid #6d9d03; }

header { width: 100%; font-size: 12px; }

header .nav { background-color: #f2f2f2; border-bottom: 1px solid #ccc; line-height: 26px; height: 26px; padding: 0 30px; display: flex; }

header .nav a { color: #666666; }

header .nav a:hover { color: #ff6600; }

header .nav .nav_left { width: 45%; display: flex; }

header .nav .nav_left .collect { display: flex; }

header .nav .nav_left .collect span { margin: 6px; }

header .nav .nav_left .collect a { margin-right: 20px; }

header .nav .nav_left .welcome { margin-left: 6px; }

header .nav .nav_right { width: 55%; display: flex; }

header .nav .nav_right span { padding: 0 10px; }

header .nav .nav_right span:nth-child(2) i { margin-left: 5px; }

header .nav .nav_right span:nth-child(2):hover { background-color: #FFF; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }

header .nav .nav_right span:nth-child(3) { position: relative; height: 14px; }

header .nav .nav_right span:nth-child(3) a { margin-top: 0; }

header .nav .nav_right span:nth-child(3) i { margin-left: 5px; }

header .nav .nav_right span:nth-child(4) { display: flex; margin-left: -10px; }

header .nav .nav_right span:nth-child(4) i { margin-right: 5px; margin-top: 5px; }

header .nav .nav_right span:nth-child(5) { display: flex; border-left: 1px solid #ccc; }

header .nav .nav_right span:nth-child(5) i { margin-right: 5px; margin-top: 5px; }

header .nav .nav_right span:last-child { display: flex; }

header .nav .nav_right span:last-child a { color: #ff6600; }

header .nav .nav_right span:last-child i { margin-right: 5px; margin-top: 5px; }

.icon { background: url(../img/img.png) no-repeat; display: inline-block; }

.icon_xiajiantou { height: 4px; width: 7px; background-position: 0 0; }

.icon_phone { height: 16px; width: 11px; background-position: 0 -4px; }

.icon_all { height: 12px; width: 14px; background-position: 0 -20px; }

.icon_wujiao { height: 15px; width: 16px; background-position: 0 -32px; }

.icon_car { height: 16px; width: 16px; background-position: 0 -47px; }

.icon_qq { height: 16px; width: 16px; background-position: 0 -63px; }

.icon_search { height: 18px; width: 18px; background-position: 0 -79px; }

.aside { background: url(../img/aside.png) no-repeat; display: block; }

.aside_qq { height: 34px; width: 29px; background-position: 0 0; }

.aside_totop { height: 28px; width: 29px; background-position: 0 -34px; }

.aside_yanguang { height: 32px; width: 32px; background-position: 0 -62px; }

.aside_wechat { height: 32px; width: 32px; background-position: 0 -94px; }

.aside_erweima { height: 32px; width: 32px; background-position: 0 -126px; }

.prev_nextbtn { background: url("../img/next&prevbtn.png") no-repeat; }

.prev { height: 47px; width: 21px; background-position: 0 0; }

.next { height: 47px; width: 21px; background-position: -738px 0; }

.goodlist { background: url(../img/goodlist.png) no-repeat; display: inline-block; }

.goodlist_goodlist1 { height: 20px; width: 15px; background-position: 0 0; }

.goodlist_goodlist3 { height: 21px; width: 16px; background-position: 0 -20px; }

.goodlist_goodlist2 { height: 19px; width: 18px; background-position: 0 -41px; }

.goodlist_goodlist6 { height: 11px; width: 22px; background-position: 0 -60px; }

.goodlist_goodlist7 { height: 17px; width: 22px; background-position: 0 -71px; }

.goodlist_goodlist4 { height: 16px; width: 22px; background-position: 0 -88px; }

.goodlist_goodlist5 { height: 16px; width: 22px; background-position: 0 -104px; }
