body, h1, h2, h3, h4, h5, h6, ul, li { margin: 0; padding: 0; }

a { text-decoration: none; }

ul { list-style: none; }

header { width: 100%; font-size: 12px; }

header .nav { background-color: #f2f2f2; border-bottom: 1px solid #ccc; line-height: 26px; height: 26px; padding: 0 30px; display: flex; }

header .nav a { color: #666666; }

header .nav a:hover { color: #ff6600; }

header .nav .nav_left { width: 45%; display: flex; }

header .nav .nav_left .collect { display: flex; }

header .nav .nav_left .collect span { margin: 6px; }

header .nav .nav_left .collect a { margin-right: 20px; }

header .nav .nav_left .welcome { margin-left: 6px; }

header .nav .nav_right { width: 55%; display: flex; }

header .nav .nav_right span { padding: 0 10px; }

header .nav .nav_right span:nth-child(2) i { margin-left: 5px; }

header .nav .nav_right span:nth-child(2):hover { background-color: #FFF; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }

header .nav .nav_right span:nth-child(3) { position: relative; height: 14px; }

header .nav .nav_right span:nth-child(3) a { margin-top: 0; }

header .nav .nav_right span:nth-child(3) i { margin-left: 5px; }

header .nav .nav_right span:nth-child(4) { display: flex; margin-left: -10px; }

header .nav .nav_right span:nth-child(4) i { margin-right: 5px; margin-top: 5px; }

header .nav .nav_right span:nth-child(5) { display: flex; border-left: 1px solid #ccc; }

header .nav .nav_right span:nth-child(5) i { margin-right: 5px; margin-top: 5px; }

header .nav .nav_right span:last-child { display: flex; }

header .nav .nav_right span:last-child a { color: #ff6600; }

header .nav .nav_right span:last-child i { margin-right: 5px; margin-top: 5px; }

header .second { padding: 30px 30px; display: flex; color: #666666; }

header .second .logo { flex: 3; }

header .second .logo a { margin-left: 20px; display: block; width: 196px; height: 56px; background: url("../img/index_logo.gif"); }

header .second .baozhang { flex: 2; }

header .second .baozhang ul li { float: left; text-align: center; padding: 0 10px; border-right: 1px dashed #ccc; }

header .second .baozhang ul li span { display: block; }

header .second .baozhang ul li:last-child { border-right: 0; }

header .second .sec_right { flex: 2; }

header .second .sec_right .search { border: 2px solid #90c31f; height: 30px; position: relative; display: flex; }

header .second .sec_right .search span { position: absolute; top: 5px; left: 3px; flex: 1; }

header .second .sec_right .search input { margin: 3px 0; flex: 8; border: 0; margin-left: 24px; border-left: 1px solid #ddd; }

header .second .sec_right .search input:focus { outline: none; }

header .second .sec_right .search button { flex: 2; height: 100%; background-color: #90c31f; border: 0; color: #fff; font-size: 14px; font-weight: 600; }

header .second .sec_right .hot { line-height: 26px; }

header .second .sec_right .hot a { color: #666666; }

header .second .sec_right .hot a:hover { color: #ff6600; }

.icon { background: url(../img/img.png) no-repeat; display: inline-block; }

.icon_xiajiantou { height: 4px; width: 7px; background-position: 0 0; }

.icon_phone { height: 16px; width: 11px; background-position: 0 -4px; }

.icon_all { height: 12px; width: 14px; background-position: 0 -20px; }

.icon_wujiao { height: 15px; width: 16px; background-position: 0 -32px; }

.icon_car { height: 16px; width: 16px; background-position: 0 -47px; }

.icon_qq { height: 16px; width: 16px; background-position: 0 -63px; }

.icon_search { height: 18px; width: 18px; background-position: 0 -79px; }

.aside { background: url(../img/aside.png) no-repeat; display: block; }

.aside_qq { height: 34px; width: 29px; background-position: 0 0; }

.aside_totop { height: 28px; width: 29px; background-position: 0 -34px; }

.aside_yanguang { height: 32px; width: 32px; background-position: 0 -62px; }

.aside_wechat { height: 32px; width: 32px; background-position: 0 -94px; }

.aside_erweima { height: 32px; width: 32px; background-position: 0 -126px; }
