main { font-size: 12px; color: #666666; }

main > nav { height: 38px; padding: 0 30px; background-color: #90c31f; line-height: 38px; display: flex; color: #fff; }

main > nav .goodslists { width: 216px; text-align: center; background-color: #6d9d03; position: relative; z-index: 10000; }

main > nav .goodslists > i { margin-left: 15px; }

main > nav .goodslists ul { color: #666; background-color: #FFF; }

main > nav .goodslists ul a { color: #666666; }

main > nav .goodslists ul > li { padding: 0 10px; line-height: 45px; }

main > nav .goodslists ul > li:last-child { height: 44px; }

main > nav .goodslists ul > li:hover h3 { border-bottom: 0; }

main > nav .goodslists ul > li > h3 { padding: 0 20px; border-bottom: 1px dashed #ccc; font-size: 16px; height: 45px; }

main > nav .goodslists ul > li > h3 a { font-size: 12px; display: inline-block; height: 45px; width: 100%; }

main > nav .goodslists ul > li > h3 a span { margin-right: 10px; }

main > nav .goodslists ul > li > h3 a i { float: right; }

main > nav .goodslists ul > li .content { z-index: 10000; position: absolute; width: 730px; height: 320px; display: flex; background-color: #FFF; border-bottom: 1px solid #6d9d03; border-right: 1px solid #6d9d03; }

main > nav .goodslists ul > li .content > ul { border-right: 1px solid #ccc; flex: 7; }

main > nav .goodslists ul > li .content > ul > li { padding: 8px 0; display: flex; }

main > nav .goodslists ul > li .content > ul > li span { margin-left: 20px; }

main > nav .goodslists ul > li .content > ul > li .link { margin-left: 10px; flex: 8; display: flex; line-height: 12px; flex-wrap: wrap; border-bottom: 1px dashed #ccc; padding-bottom: 10px; }

main > nav .goodslists ul > li .content > ul > li .link a { margin-top: 5px; display: inline-block; padding: 0 5px; border-left: 1px solid #ccc; }

main > nav .goodslists ul > li .content .pic { flex: 3; z-index: 1000; }

main > nav > ul { flex: 1; display: flex; }

main > nav > ul li { width: 11%; text-align: center; }

main > nav > ul li:nth-child(4) { background-color: #77b001; }

main > nav > ul li:hover { background-color: #77b001; }

main > nav > ul li a { color: #fff; }

main section .nowpos { padding: 15px 30px; }

main section .nowpos a { color: #666666; }

main section .nowpos a:hover { color: #ff6600; }

main section .goodlists ul { margin-left: 260px; display: flex; flex-wrap: wrap; }

main section .goodlists ul li { background-color: #FFF; position: relative; margin: 20px 20px 0 4px; width: 218px; border: 1px solid #ccc; border-bottom: 0; height: 350px; z-index: 1; }

main section .goodlists ul li a { cursor: pointer; color: #666666; }

main section .goodlists ul li a:hover { color: #ff6600; }

main section .goodlists ul li a .cloneImg { position: absolute; }

main section .goodlists ul li:hover { height: 382px; z-index: 10; margin: 19px 19px -35px 3px; border-width: 2px; border-bottom: 2px solid #ccc; }

main section .goodlists ul li:hover .collect { display: block; }

main section .goodlists ul li p:nth-child(2) { color: #f90; font-size: 26px; margin: 0 5px; }

main section .goodlists ul li p:nth-child(2) i { font-size: 12px; }

main section .goodlists ul li p:nth-child(4) { font-size: 12px; color: #333; margin: 0 4px; line-height: 30px; border-bottom: 1px solid #ccc; height: 30px; overflow: hidden; }

main section .goodlists ul li p:nth-child(5) { margin: 0; font-size: 12px; display: flex; height: 34px; line-height: 34px; padding-left: 4px; border-bottom: 1px solid #ccc; }

main section .goodlists ul li p:nth-child(5) i { display: inline-block; width: 84px; height: 15px; margin-top: 8px; margin-right: 3px; }

main section .goodlists ul li > a { display: block; font-size: 12px; line-height: 16px; text-align: left; }

main section .goodlists ul li > a:nth-child(3) { height: 32px; padding: 0 4px; }

main section .goodlists ul li .collect { display: none; position: absolute; width: 213px; height: 27px; bottom: 0; left: 0; padding: 3px 0 0 5px; }

main section .goodlists ul li .collect span { display: inline-block; text-align: center; line-height: 20px; height: 20px; border: 1px solid #ff6600; border-radius: 3px; cursor: pointer; }

main section .goodlists ul li .collect span:first-child { color: #fff; width: 100px; background-color: #ff6600; margin-right: 30px; }

main section .goodlists ul li .collect span:first-child i { margin-left: 5px; width: 18px; height: 18px; display: inline-block; background: url("../img/whitecar.png") no-repeat; float: left; }

main section .goodlists ul li .collect span:last-child { width: 70px; color: #ff6600; }

main section .goodlists ul li .collect span:last-child i { margin-left: 10px; margin-top: 5px; width: 14px; height: 13px; display: inline-block; background: url("../img/kongxin.png") no-repeat; float: left; }

main > aside { position: fixed; right: -30px; bottom: 60px; border: 1px solid #ccc; }

main > aside ul { padding: 5px; background-color: #FFF; }

main > aside ul li { text-align: center; padding: 10px 5px; border-bottom: 1px solid #f00; }

main > aside ul li a { margin-left: 15px; }

main > aside ul li span { font-size: 12px; }
