nav { font-size: 12px; }

nav .second { padding: 30px 30px; display: flex; color: #666666; }

nav .second .logo { flex: 3; }

nav .second .logo a { margin-left: 20px; display: block; width: 196px; height: 56px; background: url("../img/index_logo.gif"); }

nav .second .baozhang { flex: 2; }

nav .second .baozhang ul li { float: left; text-align: center; padding: 0 10px; border-right: 1px dashed #ccc; }

nav .second .baozhang ul li span { display: block; }

nav .second .baozhang ul li:last-child { border-right: 0; }

nav .second .sec_right { flex: 2; }

nav .second .sec_right .search { border: 2px solid #90c31f; height: 30px; position: relative; display: flex; }

nav .second .sec_right .search span { position: absolute; top: 5px; left: 3px; flex: 1; }

nav .second .sec_right .search input { margin: 3px 0; flex: 8; border: 0; margin-left: 24px; border-left: 1px solid #ddd; }

nav .second .sec_right .search input:focus { outline: none; }

nav .second .sec_right .search button { flex: 2; height: 100%; background-color: #90c31f; border: 0; color: #fff; font-size: 14px; font-weight: 600; }

nav .second .sec_right .hot { line-height: 26px; }

nav .second .sec_right .hot a { color: #666666; }

nav .second .sec_right .hot a:hover { color: #ff6600; }

main { width: 100%; font-size: 14px; }

main > nav { padding: 0 30px; height: 38px; background-color: #90c31f; line-height: 38px; display: flex; }

main > nav .goodslist { width: 216px; text-align: center; background-color: #6d9d03; color: #fff; }

main > nav .goodslist i { margin-left: 15px; }

main > nav ul { flex: 8.2; display: flex; }

main > nav ul li { width: 11%; text-align: center; }

main > nav ul li:first-child { background-color: #77b001; }

main > nav ul li:hover { background-color: #77b001; }

main > nav ul li a { color: #fff; }

main > section { padding: 0 30px; display: flex; height: 320px; }

main > section aside { width: 216px; background-color: #FFF; }

main > section aside a { font-size: 12px; color: #666666; }

main > section aside > ul { padding: 0 10px; }

main > section aside > ul > li { position: relative; line-height: 45px; text-align: center; border-bottom: 1px dashed #ccc; }

main > section aside > ul > li > span { float: right; margin-right: 20px; }

main > section aside > ul > li .content { display: flex; position: absolute; left: 200px; top: 0; z-index: 1000; width: 762px; }

main > section aside > ul > li .content ul { flex: 3; }

main > section aside > ul > li .content ul li { display: flex; }

main > section aside > ul > li .content ul li span { flex: 1; text-align: center; }

main > section aside > ul > li .content ul li .link { border-bottom: 1px dashed #0f0; flex: 8; }

main > section aside > ul > li .content ul li .link a { border-left: 1px solid #f00; padding-left: 3px; }

main > section aside > ul > li .content .pic { flex: 2; }

main > section .banner { width: 760px; overflow: hidden; position: relative; }

main > section .banner ul { width: 4560px; height: 320px; position: relative; left: 0; top: 0; }

main > section .banner ul li { display: inline-block; float: left; }

main > section .banner .prev_nextbtn { display: none; }

main > section .banner .prev { position: absolute; left: 0; top: 50%; margin-top: -23px; }

main > section .banner .next { position: absolute; right: 0; top: 50%; margin-top: -23px; }

main > section .banner .page { position: absolute; margin-left: -80px; bottom: 20px; left: 50%; }

main > section .banner .page span { margin-right: 20px; border: 1px solid #ccc; border-radius: 50%; width: 10px; height: 10px; background-color: #ddd; display: inline-block; text-indent: -11999px; cursor: pointer; }

main > section .banner .page span.active { background-color: #90c31f; }

main > section .download { flex: 1; }

main > section .download img { border: 1px solid #fff; }

main > aside { position: fixed; display: none; right: 0px; bottom: 100px; border: 1px solid #ccc; }

main > aside ul { padding: 5px; background-color: #FFF; }

main > aside ul li { text-align: center; padding: 5px; border-bottom: 1px solid #f00; }

main > aside ul li a { margin-left: 15px; }

main > aside ul li span { font-size: 12px; }
