nav { font-size: 12px; }

nav .second { padding: 30px 30px; display: flex; color: #666666; }

nav .second .logo { flex: 3; }

nav .second .logo a { margin-left: 20px; display: block; width: 196px; height: 56px; background: url("../img/index_logo.gif"); }

nav .second .baozhang { flex: 2; }

nav .second .baozhang ul li { float: left; text-align: center; padding: 0 10px; border-right: 1px dashed #ccc; }

nav .second .baozhang ul li span { display: block; }

nav .second .baozhang ul li:last-child { border-right: 0; }

nav .second .sec_right { flex: 2; }

nav .second .sec_right .search { border: 2px solid #90c31f; height: 30px; position: relative; display: flex; }

nav .second .sec_right .search span { position: absolute; top: 5px; left: 3px; flex: 1; }

nav .second .sec_right .search input { margin: 3px 0; flex: 8; border: 0; margin-left: 24px; border-left: 1px solid #ddd; }

nav .second .sec_right .search input:focus { outline: none; }

nav .second .sec_right .search button { flex: 2; height: 100%; background-color: #90c31f; border: 0; color: #fff; font-size: 14px; font-weight: 600; }

nav .second .sec_right .hotsearch { line-height: 26px; }

nav .second .sec_right .hotsearch a { color: #666666; }

nav .second .sec_right .hotsearch a:hover { color: #ff6600; }

main { width: 100%; font-size: 14px; }

main > nav { padding: 0 30px; height: 38px; background-color: #90c31f; line-height: 38px; display: flex; }

main > nav .goodslists { width: 216px; text-align: center; background-color: #6d9d03; color: #fff; }

main > nav .goodslists i { margin-left: 15px; }

main > nav ul { flex: 8.2; display: flex; }

main > nav ul li { width: 11%; text-align: center; }

main > nav ul li:first-child { background-color: #77b001; }

main > nav ul li:hover { background-color: #77b001; }

main > nav ul li a { color: #fff; }

main > section { padding: 0 30px; display: flex; height: 320px; }

main > section aside { width: 216px; background-color: #FFF; }

main > section aside a { font-size: 12px; color: #666666; }

main > section aside > ul { position: relative; }

main > section aside > ul > li { padding: 0 10px; line-height: 45px; }

main > section aside > ul > li:last-child h3 { border-bottom: 0; }

main > section aside > ul > li:last-child { height: 44px; }

main > section aside > ul > li > h3 { padding: 0 20px; border-bottom: 1px dashed #ccc; font-size: 16px; height: 45px; }

main > section aside > ul > li > h3 a { font-size: 12px; display: inline-block; height: 45px; width: 100%; }

main > section aside > ul > li > h3 a span { margin-right: 10px; }

main > section aside > ul > li > h3 a i { float: right; }

main > section aside > ul > li .content { position: absolute; left: 216px; top: 0; z-index: 1000; padding-left: 30px; width: 730px; height: 320px; display: flex; background-color: #FFF; border-bottom: 1px solid #6d9d03; border-right: 1px solid #6d9d03; }

main > section aside > ul > li .content > ul { flex: 6.5; }

main > section aside > ul > li .content > ul > li { text-align: left; display: flex; padding: 8px 0; border-bottom: 1px dashed #ccc; }

main > section aside > ul > li .content > ul > li .link { text-align: left; flex: 8; margin-left: 10px; display: flex; flex-wrap: wrap; line-height: 12px; }

main > section aside > ul > li .content > ul > li .link a { margin-top: 5px; display: inline-block; padding: 0 5px; border-left: 1px solid #ccc; height: 12px; }

main > section aside > ul > li .content .pic { flex: 3.5; }

main > section .banner { width: 760px; overflow: hidden; position: relative; }

main > section .banner ul { width: 4560px; height: 320px; position: relative; left: 0; top: 0; }

main > section .banner ul li { display: inline-block; float: left; }

main > section .banner .prev_nextbtn { display: none; }

main > section .banner .prev { position: absolute; left: 0; top: 50%; margin-top: -23px; }

main > section .banner .next { position: absolute; right: 0; top: 50%; margin-top: -23px; }

main > section .banner .page { position: absolute; margin-left: -80px; bottom: 20px; left: 50%; }

main > section .banner .page span { margin-right: 20px; border: 1px solid #ccc; border-radius: 50%; width: 20px; height: 20px; text-align: center; line-height: 20px; background-color: #666; display: inline-block; cursor: pointer; }

main > section .banner .page span.active { background-color: #90c31f; }

main > section .download { flex: 1; }

main > section .download img { border: 1px solid #fff; }

main > aside { position: fixed; right: -30px; bottom: 60px; border: 1px solid #ccc; }

main > aside ul { padding: 5px; background-color: #FFF; }

main > aside ul li { text-align: center; padding: 10px 5px; border-bottom: 1px solid #f00; }

main > aside ul li a { margin-left: 15px; }

main > aside ul li span { font-size: 12px; }

footer { background-color: #f0f0f0; text-align: center; padding: 10px 50px 30px; border-top: 1px solid #ddd; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15) inset; color: #666666; font-size: 12px; }

footer a { color: #999; }

footer a:hover { color: #ff6600; }

footer .Fx-01 img { border-bottom: 1px solid #fff; }

footer .Fx-02 { padding: 0 100px; }

footer .Fx-02 > ul { border-bottom: 1px solid #ddd; padding: 30px 0; display: flex; }

footer .Fx-02 > ul > li { margin-left: 80px; }

footer .Fx-02 > ul > li h3 { font-size: 16px; line-height: 50px; }

footer .Fx-02 > ul > li ul li { line-height: 24px; }

footer .Fx-03 { padding-top: 20px; border-top: 1px solid #fff; }

footer .Fx-03 p { line-height: 20px; }

footer .Fx-03 a { line-height: 20px; }

footer .Fx-04 { margin-top: 15px; }
