body { background-color: #F0F0F0; }

body > nav { margin: 50px 0 50px 200px; }

body > nav span { font-size: 18px; margin-left: 30px; }

body > main { width: 990px; margin: 0 auto; color: #666666; font-size: 12px; }

body > main a { color: #6c9d03; font-size: 12px; }

body > main a:hover { color: #ff6600; }

body > main .tips { text-align: right; margin-bottom: 10px; }

body > main .tips span { margin-left: 5px; }

body > main .loginPage { background-color: #FFF; width: 100%; border: 1px solid #ccc; padding: 50px 0; overflow: hidden; }

body > main .loginPage .loginpic { float: right; }

body > main .loginPage .loginpic img { border-left: 1px solid #ccc; }

body > main .loginPage .loginInput { float: left; padding: 0 70px; font-size: 16px; color: #333; }

body > main .loginPage .loginInput i { color: red; margin-right: 5px; }

body > main .loginPage .loginInput p { margin-bottom: 20px; }

body > main .loginPage .loginInput p:first-child { margin-left: 16px; }

body > main .loginPage .loginInput .same { height: 25px; width: 250px; }

body > main .loginPage .loginInput .slideArea { margin-bottom: 20px; display: flex; }

body > main .loginPage .loginInput .slideArea .slidearea { margin-left: 5px; width: 254px; height: 30px; border: 1px solid #ccc; position: relative; margin-top: -5px; background-color: #ddd; text-align: center; line-height: 30px; }

body > main .loginPage .loginInput .slideArea .slidearea span { color: #fff; display: none; }

body > main .loginPage .loginInput .slideArea .slidearea .slide { position: absolute; left: 0; top: 0; line-height: 30px; display: inline-block; width: 40px; height: 30px; border-right: 1px solid #ccc; background-color: #fff; text-align: center; cursor: pointer; }

body > main .loginPage .loginInput .Code { margin-left: 16px; display: flex; }

body > main .loginPage .loginInput .Code #code { height: 25px; width: 100px; margin-left: 3px; }

body > main .loginPage .loginInput .Code .codeshow { display: inline-block; width: 80px; height: 30px; border: 1px solid #ccc; margin-left: 10px; text-align: center; line-height: 30px; }

body > main .loginPage .loginInput #refer { background-color: #ccc; width: 250px; height: 30px; line-height: 30px; text-align: center; color: #fff; margin-left: 87px; cursor: pointer; }

body > main .loginPage .loginInput .agree { margin-left: 87px; margin-top: 5px; }
